<center><h1> Chose Your Weapon! </h1></center>

<p>&nbsp;</p>

<table align=center>
	<tr>
		<td><%= link_to image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR1IDMp7DMeCDwiGmG2MY4QnmsWV5iY-Eo5I2B_2T1Hat0luSRzVg"), rock_paper_scissor_path(0) %>
		</td>
		<td><%= link_to image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRWke0OnNY4tWK4wqyiYFqoNm_uttyOfgHFpS-yNk2Hjo5e-jB8"), rock_paper_scissor_path(1) %>
		</td>
		<td><%= link_to image_tag("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSVrc5N0rdHYticmvtvXUkrtDX9iqCb05Y0LisijLLXONB2EwSY"), rock_paper_scissor_path(2) %>
		</td>
	</tr>
	</table>



