// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

pre, p {
    font-size: 1.5em;
    color: #FE7F88;
    background-color: transparent;
}

div {
  background-image: url("https://hiphopfandomofthecape.files.wordpress.com/2014/09/crowd-shot2.jpg");
}

p {
  background-image: none;
}



