

<html>
  <head>
   
  </head>
  <body>

    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-8">
          <h3>MusApp</h3>
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
        <div class="row">
        <div class="col-xs-6">

        </div>

      </div>
    </div>

  </body>
</html>

