<center><h1>WELCOME TO GAME CENTRAL</h1></center
<p>
<center>Please select your game of choice</center>
</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<table align=center>
	<tr> 
		
		<td><%= link_to image_tag("http://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/062012/rock_paper_scissors.png"), new_rock_paper_scissor_path  %> 
		</td>
		<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </td>
		
		<td><%= link_to image_tag("http://cdn2.frostclick.com/wp/wp-content/uploads/2012/08/the-secret-number.jpg"), new_secret_number_path  %> 
		</td>

	</tr>
</table>
